.containerPokemons,
.containerLastContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.containerLastContent {
  margin-top: 3.5rem;
}

.aside {
  grid-column: 2;
  grid-row: 1/3;
  position: relative;
}

.yellowCard {
  padding: 2.875rem 3rem;
  margin-top: 2.75rem;
}

.yellowCard p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-bottom: 2.0625rem;
  color: #1a1a1a;
}

.pikachu img {
  position: absolute;
  right: -100px;
  top: 430px;
}

.pokerbola img {
  position: absolute;
  top: 600px;
  left: 100px;
}

@media (max-width: 980px) {
  .pikachu img {
    display: none;
  }

  .pokerbola img {
    display: none;
  }
  .containerLastContent {
    display: flex;

    flex-direction: column;
  }

  .yellowCard button {
    display: block;
    margin: 0 auto;
  }
  .containerPokemons {
    padding: 0 2rem;
  }
}
