.menuMobile {
  border-radius: 0.2rem;
  height: 14px;
  width: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menuMobile::after {
  content: "";
  display: block;
  width: 1rem;
  height: 2px;
  background-color: currentColor;
  border-radius: 2px;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
}

.bgBack {
  background-color: #ffff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 0;
}

.leftContent {
  display: flex;
  align-items: center;
  flex: 1 1 400px;
}

.leftContent h1 {
  margin-left: 2.125rem;
  color: #ff6b18;
  font-family: var(--type-first);
}

.nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav ul li a {
  border: 1px solid #ffebe0;
  padding: 0.625rem 0.8125rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.nav ul li a svg > * {
}
