@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #e5e5e5;
  margin: 0px;
  --type-first: "Roboto", sans-serif;
  --type-second: "PT Sans", sans-serif;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.formatedSubTitle {
  font-family: var(--type-first);
  font-weight: 700;
  font-size: 1.5rem;
  color: #72808e;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.bgWhite {
  background-color: #ffff;
}
