.slide {
  display: flex;
  transition: transform 0.3s ease;
}

.wrapperCarrosel {
  overflow: hidden;
  position: relative;
}

.ball.active {
  background-color: #ff6b18;
}

.ball {
  width: 12px;
  height: 12px;
  background-color: #c4c4c4;
  border-radius: 50%;
  display: inline-block;
  text-indent: -1000px;
  margin-left: 0.2rem;
}
.slideLoc {
  display: flex;
  justify-content: center;
}

.wrapperCarrosel nav {
  justify-content: space-between;
  padding: 1.3rem;
  bottom: 150px;
}

.wrapperCarrosel nav button {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 555px) {
  .wrapperCarrosel nav button {
    margin-right: 1rem;
  }
}
