.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin-right: 0%;
  flex-shrink: 0;
  width: 100%;
  padding: 6.125rem 5.875rem;
  margin-top: 2.5rem;
  margin-bottom: 65px;
}

.detailsArea span {
  font-family: var(--type-first);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.4375rem;
  color: white;
}

.detailsArea h2 {
  font-family: var(--type-first);
  font-weight: 900;
  font-size: 3rem;
  color: white;

  margin-bottom: 1.625rem;
}

.detailsArea p {
  font-family: var(--type-first);
  font-weight: 400;
  font-size: 0.875rem;
  color: white;
  max-width: 271px;
  margin-bottom: 3.1875rem;
}

.image img {
  position: absolute;
  top: 40px;
  margin-right: 5.25rem;
}

@media (max-width: 1110px) {
  .gridContainer {
    overflow: hidden;
    padding: 7.3rem 2rem;
    margin-top: 0;
    z-index: 1000;
  }
  .detailsArea h2 {
    font-size: 2.1rem;
  }
  .image img {
    width: 400px;
  }
  .detailsArea p {
    margin-bottom: 2.3rem;
  }
}
@media (min-width: 1110px) {
  .image img {
    top: 75px;
  }
}
@media (max-width: 430px) {
  .image img {
    top: 60px;
  }
  .detailsArea h2 {
    font-size: 1.5rem;
  }
  .detailsArea button {
    width: 100%;
    font-size: 0.7rem;
  }
}
